[submodule "mkbootimg"]
	path = mkbootimg 
	url = https://github.com/osm0sis/mkbootimg.git
[submodule "jadx"]
	path = jadx
	url = git@github.com:skylot/jadx.git
[submodule "toolchain/gcc-32"]
	path = toolchain/gcc-32
	url = git@github.com:LineageOS/android_prebuilts_gcc_linux-x86_arm_arm-linux-androideabi-4.9.git
[submodule "toolchain/gcc-64"]
	path = toolchain/gcc-64
	url = git@github.com:LineageOS/android_prebuilts_gcc_linux-x86_aarch64_aarch64-linux-android-4.9.git
[submodule "libufdt"]
	path = libufdt
	url = https://android.googlesource.com/platform/system/libufdt
[submodule "clang"]
	path = toolchain/clang
	url = https://github.com/crdroidandroid/android_prebuilts_clang_host_linux-x86_clang-6443078.git
